<ion-header>
  <ion-toolbar>
    <ion-title>
      Categories
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Manage</ion-label>
      </ion-list-header>
      <ion-item (click)="viewCategory('uncategorized')" detail="true">
        <ion-label>Uncategorized</ion-label>
        <ion-badge color="primary">{{numUncategorized}}</ion-badge>
      </ion-item>
      <ion-item (click)="viewCategory('nodate')" detail="true">
          <ion-label>No due date</ion-label>
          <ion-badge color="primary">4</ion-badge>
      </ion-item>
      <ion-item (click)="viewCategory('everything')" detail="true">
          <ion-label>Everything</ion-label>
          <ion-badge color="light">{{numUncategorized + 16}}</ion-badge>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>Categories</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let category of categories" (click)="viewCategory(category.slug)" detail="true">
        <ion-label>{{category.title}}</ion-label>
        <ion-badge color="{{category.color}}" slot="start" mode="ios">&nbsp;</ion-badge>
        <ion-badge color="light">{{category.num}}</ion-badge>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>    
</ion-content>
